[submodule "ActividadLib"]
	path = ActividadLib
	url = https://github.com/Jonkkeyler333/actividad_librerias.git
[submodule "ActividadListas"]
	path = ActividadListas
	url = https://github.com/Jonkkeyler333/Actividad_Listas.git
[submodule "Ejercicios"]
	path = Ejercicios
	url = https://github.com/Jonkkeyler333/Ejercicios_Analisis_Estructuras.git
[submodule "Ejercicios_practicas"]
	path = Ejercicios_practicas
	url = https://github.com/Jonkkeyler333/Ejercicios_Analisis_Estructuras.git
